* {
    margin:0;
}
body {
    background-color:#CCC;
}

h1 {
    padding:15px;
    margin-left:25px;
    color: orange;
}

h2 {
    padding:20px 15px;
    margin-left:20px;
}

.lista li {
    color:#000;
    font-size:20px;
    margin-left:30px;
    padding:8px;
    
}
.total {
    padding-top:20px;
    margin-left:50px;
    font-size:17px;
    
}
